* {
	font-family: Roboto;
}

body {
	margin: 10px;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

.top-nav-child-0 {
	float: left;
}

.top-nav-child-1 {
	float: right;
}

.link li {
	display: inline;
	font-size: 12px;
	margin: 10px;
}

#search {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

#main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#links-1 {
	width: all;
}